.bg_delimiter{
    width: 1120px;
    height: 100%;
    background: radial-gradient(102.98% 2129.71% at 0% 102.98%, rgba(20, 48, 102, 0.225) 0%, rgba(83, 83, 83, 0.24) 21.88%, rgba(229, 85, 0, 0.135) 99.48%, rgba(229, 85, 0, 0.135) 99.49%);
    border-radius: 10px;
    position: absolute;
    left: 288px;
    top: 118px;
    display: list-item;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;
}

.style{
    position: absolute;
    left: 300px;
    top: 95px;
    font-size: 12px;
    font-weight: bold;
}

.bg_delimiter .grid{
    width: 1060px;
    height: 77px;
    background: radial-gradient(102.98% 2129.71% at 0% 102.98%, rgba(20, 48, 102, 0.225) 0%, rgba(83, 83, 83, 0.24) 21.88%, rgba(229, 85, 0, 0.135) 99.48%, rgba(229, 85, 0, 0.135) 99.49%);
    border-radius: 10px;
    border: 2px solid rgb(193, 192, 192);
    margin: 10px;
}

button{
    background-color: #C44900;
    height: 40.58px;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    margin-top: 25px;
    box-shadow: 0px 6px 8px rgba(71, 71, 71, 0.3500);
    cursor: pointer;
    transition: .3s;
    margin: 20px;
}

button:hover{
    background-color: white;
    color:#C44900;
    border: solid 2px #C44900;
}

h1{
    font-size: 16px;
    font-weight: bold;
    color: #C44900;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-right: 2px solid rgb(193, 192, 192);
    text-align: center;
}

.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.separated{
    display: flex;
    flex-direction: column;
}

.marcation{
    position: absolute;
    top: 330px;
    left: 260px;
}

.name{
    font-size: 16px;
    color: #252C32;
    width: 180px;
    font-weight: bold;
}

.table{
    width: 1062px;
    height: 40px;
    /* padding-top: 30px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table input{
    margin-left: 77px;
}

.tableName{
    margin-left: 120px;
}

.tableGrams{
    margin-left: 260px;
}

.tableTime{
    margin-left: 260px;
}

.name_categorie{
    margin-left: 173px;
    margin-right: 145px;
}

.meal{
    width: 1062px;
    height: 40px;
    border-top: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    margin-left: 10px;
}