<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Apply and Growth</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/recover_password.css">
    <link rel="stylesheet" href="img/icon/logo_white.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="/img/icon/logo_white.png">
    </header>
    <main>
        <section class="contend">
            <h1>Recover Password</h1>
            <form th:action="@{/recover/verifyEmail}">
                <input class="mail" type="text" placeholder="Email">
                <p>A recovery link will be sent via email</p>
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>
</body>
</html>