<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Information - A&G</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header_settings.css">
    <link rel="stylesheet" href="css/card_information.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img class="logo" src="img/icon/logo_white.png">
        <div class="user">
            <img class="user_icon" src="img/icon/notification.png">
            <img class="user_icon" src="img/icon/user_white.png">
            <p id="welcome_user">Welcome,<br><span sec:authentication="principal.username">User</span></p>
        </div>
    </header>
    <img class="marcation" src="img/icon/marcation.png">
    <main>
        <section>
            <section class="navegation">
                <div class="elements">
                    <div class="top">
                        <img class="icon" src="img/icon/dashboard.png">
                        <a class="selection" href="/settings">Basic Info</a>
                        <p></p>
                    </div>
                    <div class="border">
                        <img class="icon" src="img/icon/user_white.png">
                        <a href="/status">Status</a>
                    </div>
                    <div class="border">
                        <img class="icon" src="img/icon/question.png">
                        <a href="help.html">Help</a>
                    </div>
                    <div class="border">
                        <img class="icon" src="img/icon/about_us.png">
                        <a href="about.html">About Us</a>
                    </div>
                    <div class="return border">
                        <img class="icon" src="img/icon/return.png">
                        <a href="index.html">return</a>
                    </div>
                </div>
            </section>
            <div class="log_out">
                <img src="img/icon/log_out.png">
                <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Log out</a>
            </div>
        </section>
        <section class="content">
            <p class="way">Settings > Credit Card</p>
            <section class="profile">
                <h1><span>1 </span>ACCOUNT STATUS</h1>
                <div class="card">
                    <span>Observation</span>
                    <p>To become an Advertiser, simply register your credit 
                        card information and, for 24 hours,<br> your account will 
                        go through a verification system, where it will be analyzed 
                        and approved.
                    </p>
                </div>
                <div class="table-button">
                    <table>
                        <tr>
                            <td>Name</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td class="teste">Felipe Piassa</td>
                            <td class="teste"><span class="status">Customer</span></td>
                        </tr>
                    </table>
                    <button>Become an Advertiser</button>
                </div>
            </section>
    </section>
    </main>
</body>
</html>